# requirements.txt

# El Core de Django
django

# Conector de Base de Datos
mysqlclient

# Hashing de contraseñas
bcrypt

# Para leer archivos .env 
python-dotenv

# Para la API
djangorestframework
djangorestframework-simplejwt==5.3.1

# Requerido por mysqlclient para la autenticación sha256/caching_sha2
cryptography

# Para documentación de API (Swagger)
drf-spectacular