{% extends 'base.html' %}

{% load calificaciones_extras %}

{% block title %}Mantenedor de Calificaciones{% endblock %}

{% block content %}
<div classid="card shadow-sm mb-4">
    <div class="card-header bg-white">
        <h4 class="mb-0">Mantenedor de Calificaciones</h4>
    </div>
    
    <div class="card-body">
        <form method="get" action="">
            <div class="row g-3">
                <div class="col-md-3 mb-3">
                    <label for="{{ form_filtros.mercado.id_for_label }}" class="form-label">{{ form_filtros.mercado.label }}</label>
                    {{ form_filtros.mercado }}
                </div>
                <div class="col-md-2 mb-3">
                    <label for="{{ form_filtros.anio.id_for_label }}" class="form-label">{{ form_filtros.anio.label }}</label>
                    {{ form_filtros.anio }}
                </div>
                <div class="col-md-3 mb-3">
                    <label for="{{ form_filtros.origen.id_for_label }}" class="form-label">{{ form_filtros.origen.label }}</label>
                    {{ form_filtros.origen }}
                </div>
                <div class="col-md-4 d-flex justify-content-end align-items-end mb-3">
                    <button type="submit" class="btn btn-primary me-2">
                        <i class="bi bi-search"></i> Buscar
                    </button>
                    <a href="{% url 'calificaciones:lista_calificaciones' %}" class="btn btn-outline-secondary me-2">
                        <i class="bi bi-eraser"></i> Limpiar
                    </a>
                    {% if request.session.rol_nombre == 'Administrador' or request.session.rol_nombre == 'Auditor' %}
                    <button type="submit" class="btn btn-success" 
                            formaction="{% url 'calificaciones:exportar_csv' %}">
                        <i class="bi bi-file-earmark-spreadsheet"></i> Exportar
                    </button>
                    {% endif %}
                </div>


            </div>
        </form>
    </div>
</div>

<div class="card shadow-sm">
    <div class="card-header bg-white d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Resultados</h5>
        <div class="justify-content-end d-flex gap-2" >
            <a href="/calificaciones/carga-masiva/" class="btn btn-outline-primary ">
                <i class="bi bi-upload"></i> Carga Masiva (Factores)
            </a>
            <a href="{% url 'calificaciones:carga_masiva_montos' %}" class="btn btn-outline-primary ">
            <i class="bi bi-upload"></i> Carga Masiva (Montos)
            </a>
            <a href="/calificaciones/crear/" class="btn btn-outline-primary">
                <i class="bi bi-plus-lg"></i> Ingresar Calificación
            </a>
            
        </div>
    </div>  
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th class="align-top p-4">Acciones</th>
                        <th class="align-top">Ejercicio (Año)</th>
                        <th class="align-top">Instrumento</th>
                        <th class="align-top">Mercado</th>
                        <th class="align-top">Fecha Pago</th>
                        <th class="align-top">Secuencia Evento</th>
                        <th class="align-top">Origen</th>
                        <th class="align-top">Estado</th>
                        
                        {% for codigo in factores_header %}
                            <th class="text-end align-top">{{ codigo }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for item in calificaciones %}
                    <tr>
                        <td>
                            {% if request.session.rol_nombre == 'Administrador' or item.calificacion.id_usuario_id == request.session.id_usuario %}
                                <a href="{% url 'calificaciones:modificar_calificacion' item.calificacion.id_calificacion %}" class="btn btn-sm btn-outline-primary m-1" title="Editar">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                
                                <a href="{% url 'calificaciones:eliminar_calificacion' item.calificacion.id_calificacion %}" class="btn btn-sm btn-outline-danger m-1" title="Eliminar">
                                    <i class="bi bi-trash"></i>
                                </a>
                            {% else %}
                                <span class="text-muted" title="No se puede editar/eliminar este registro">
                                    <i class="bi bi-lock-fill"></i>
                                </span>
                            {% endif %}
                        </td>
                        
                        <td>{{ item.tributaria.anio|default:"-" }}</td>
                        <td>{{ item.calificacion.id_instrumento.nombre|default:"-" }}</td>
                        
                        <td>{{ item.calificacion.id_mercado.nombre|default:"-" }}</td>
                        
                        <td class="text-nowrap">{{ item.calificacion.fecha_pago|date:"d-m-Y"|default:"-" }}</td>
                        <td>{{ item.tributaria.secuencia_evento|default:"-" }}</td>
                       <td>
                            {% if item.calificacion.id_archivo %}
                                <span class="badge bg-secondary" 
                                      title="Origen: {{ item.calificacion.id_archivo.nombre_archivo }}">
                                    Archivo
                                </span>
                            {% elif item.calificacion.id_usuario %}
                                <span class="badge bg-secondary" 
                                      title="Ingresado por: {{ item.calificacion.id_usuario.nombre }}">
                                    Manual
                                </span>
                            {% else %}
                                <span class="badge bg-secondary">N/A</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if item.calificacion.id_estado.nombre == 'Activo' %}
                                <span class="badge bg-success">Válido</span>
                            {% elif item.calificacion.id_estado.nombre == 'Invalido' %}
                                <span class="badge bg-danger">Inválido</span>
                            {% else %}
                                <span class="badge bg-secondary">{{ item.calificacion.id_estado.nombre }}</span>
                            {% endif %}
                        </td>
                        
                        {% for codigo in factores_header %}
                            <td class="text-end">
                                {{ item.factores|get_item:codigo|default_if_none:"0.00" }}
                            </td>
                        {% endfor %}
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="{{ factores_header|length|add:7 }}" class="text-center">
                            No se encontraron calificaciones con los filtros seleccionados.
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}